/* .recharts-wrapper {
  padding-left: 60px;
  padding-top: 20px;
}
.recharts-surface {
  width: 80%;
  height: 245px;
}
.recharts-area {
  stroke-width: 2px;
}
.recharts-cartesian-axis {
  stroke-width: 0px;
}
.recharts-cartesian-grid {
  stroke-width: 0px;
}
.recharts-surface {
  stroke-width: 0px;
} */
